beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.0
ebaysdk==2.2.0
faktory==1.0.0
idna==3.4
lxml==4.9.3
markdown-it-py==3.0.0
mdurl==0.1.2
mysql-connector-python==8.2.0
protobuf==4.21.12
Pygments==2.16.1
requests==2.31.0
rich==13.6.0
soupsieve==2.5
urllib3==2.0.7
flask
dash
pandas
plotly
